PORT=3000

# Database
DB_HOST="aws-0-eu-west-1.pooler.supabase.com"
DB_PORT=5432
DB_USERNAME="postgres.lnrianunsjlpmdrdkqis"
DB_PASSWORD="tSE+Ra.eX9*#Fhm"
DB_NAME=postgres



# Auth
JWT_SECRET=super_secret_jwt_key
